*,
*::before,
*::after {
  box-sizing: border-box;
  
}
body{
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  /* border: 1px solid red; */
}
/* Navbar */
header {
  background: rgba(52, 58, 64, 0.95);
  text-align: center;
  position: fixed;
  z-index: 999;
  width: 100%;
  color: #fff;
}
.nav-toggle {
  display: none;
}
.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}
.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: "";
  position: absolute;
}
.nav-toggle-label span::before {
  bottom: 7px;
}
.nav-toggle-label span::after {
  top: 7px;
}
nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: rgba(52, 58, 64, 0.95);
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}
nav a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}
nav a:hover {
  color: #fff;
}
.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
}
.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}
/* Articles */
.content-wrapper{
  max-width: 65%;
  margin: 0 auto;
  border-radius: 4px;
  padding: 4em 0;
  /* border: 1px solid red; */
}
.main-story{
  margin-bottom: 1.9em
}
.main-story h1{
  font-family: 'Roboto', sans-serif !important;
  font-weight: 900 !important;
  font-size: 39px !important;
}
.author{
  font-weight: 700;
  font-size: 14px;
}
.author span{
  color: #f17d00;
}
.published-on{
  font-size: 14px;
  color: #999;
  font-style: italic;
  margin-bottom: 1.5em;
}
.main-story img{
  width: 100%;
}
.main-story .material-icons{
  font-size: 0.89em;
}
.other-stories{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 1em;
}
.other-stories h1{
  font-family: 'Raleway', sans-serif !important;
  font-size: 1.65rem !important;
}
.other-stories img{
  width: 100%;
}
/* Error page */
.error-page {
  align-items: center;
  color: #1f1f1f;
  display: flex;
  margin: 0;
}
.error-page .error-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
.error-content {
  margin: 0 auto;
  max-width: 480px;
  padding: 40px 0;
  text-align: center;
  width: 100%;
}
.error-content h1 {
  color: #667eea;
  font-size: 10em;
}
.error-content p {
  margin-bottom: 30px;
}
.error-content .btn {
  border-radius: 50px;
  font-size: 18px;
  font-weight: 600;
  min-width: 200px;
  padding: 10px 20px;
}
.btn-custom {
  background: #667eea;
  background: -moz-linear-gradient(left, #667eea 0%, #764ba2 100%);
  background: -webkit-linear-gradient(left, #667eea 0%, #764ba2 100%);
  background: -ms-linear-gradient(left, #667eea 0%, #764ba2 100%);
  background: linear-gradient(to right, #667eea 0%, #764ba2 100%);
  color: #fff;
}
.btn-custom.focus,
.btn-custom:focus,
.btn-custom:hover {
  background: #667eea;
  background: -moz-linear-gradient(left, #667eea 0%, #764ba2 100%);
  background: -webkit-linear-gradient(left, #667eea 0%, #764ba2 100%);
  background: -ms-linear-gradient(left, #667eea 0%, #764ba2 100%);
  background: linear-gradient(to right, #667eea 0%, #764ba2 100%);
  color: #fff;
}
/* Media queries */
@media screen and (min-width: 800px) {
  .nav-toggle-label {
    display: none;
  }

  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(700px, 3fr) 1fr;
  }
  .logo {
    grid-column: 2 / 3;
  }
  nav {
    all: unset;
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  nav ul{
    display: flex;
  }
  nav li{
    margin-left: 3em;
    margin-bottom: 0;
  }

  nav a {
      opacity: 1;
      position: relative;
  }
  nav a::before{
      content: '';
      display: block;
      height: 5px;
      background: #fff;
      position: absolute;
      /* bottom: -.75rem; */
      top: -.75rem;
      left: 0;
      right: 0;
      transform: scale(0,1);
      /* transform-origin: left; */
      transition: transform ease-in-out 250ms;
  }
  nav a:hover::before{
      transform: scale(1,1);
  }
}